.deps
.libs
*.la
*.lo
*.o
*.pyc
*.pc
Makefile
Makefile.in
libobelisk.pc

/.cproject
/.project
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/console/bs
/libtool
.dirstamp

/bin/
/obj/

/src/bitcoin_server

